<div class="sidebar">
  <div class="avatar">
    <img src="../../../assets/icons/no_avatar(boy).png" alt="photo" class="photo">
  </div>
  <div class="container-fluid points-list">
    <div class="row" (click)="goToEvents()">
      <div class="col-4 icon"><i class="fas fa-home"></i></div>
      <div class="col-8 text">Events</div>
    </div>
    <div class="row">
      <div class="col-4 icon"><i class="fas fa-bell"></i></div>
      <div class="col-8 text">Notice</div>
    </div>
    <div class="row">
      <div class="col-4 icon"><i class="fas fa-calendar-alt"></i></div>
      <div class="col-8 text">Calendar</div>
    </div>
    <div class="row">
      <div class="col-4 icon"><i class="fas fa-star-of-david"></i></div>
      <div class="col-8 text">Participation</div>
    </div>
    <div class="row" (click)="goToEvents()">
      <div class="col-4 icon"><i class="fas fa-user-friends"></i></div>
      <div class="col-8 text">My events</div>
    </div>
    <div class="row profile" (click)="goToProfile()">
      <div class="col-4 icon"><i class="fas fa-user-alt"></i></div>
      <div class="col-8 text">Profile</div>
    </div>
    <div class="row">
      <div class="col-4 offset-2 text"><a (click)="logOut()">Log out</a></div>
      <div class="col-6"><i class="fas fa-sign-out-alt"></i></div>
    </div>
  </div>
</div>































