.events
  &__title
    color: white
    text-align: center
    padding-top: 1rem
    padding-bottom: 1rem
  &__filters
    margin-bottom: 1rem
    &__global
    &__city
      margin-left: 1rem
  &__add
    position: fixed
    right: 1rem
    bottom: 4rem
    width: 4rem
    height: 4rem
    background-color: #F44336
    border-radius: 50%
    color: white
    font-size: 3rem
    display: flex
    justify-content: center
    align-items: center
    &:hover
      cursor: pointer




