<div #wrapper>
  <mat-card class="card">
    <div class="card__img">
      <img mat-card-image src="../../../../assets/icons/banner.png" alt="Photo of a Shiba Inu">
      <div class="card__img__subscr">
      <span>{{ data.event.owner.firstName + ' ' + data.event.owner.lastName }}<br>
      <bar-rating [theme]="'stars'" name="rating" [rate]="data.event.owner.rate" max="5"></bar-rating>
        <span>({{ data.event.owner.numberOfVotes }} votes)</span>
      </span>
      </div>
    </div>
    <mat-card-content class="card__content">
      <div *ngIf="message.text && message.type === 'danger'" class="text-center alert alert-danger">{{message.text}}</div>
      <div *ngIf="message.text && message.type === 'success'" class="text-center alert alert-success">{{message.text}}</div>
      <h4  class="card__content__title">{{ data.event.title }}</h4>
      <p>Holiday: {{ data.event.holiday }}</p>
      <div class="container card__content__info">
        <div class="row">
          <div class="col-12 col-md-6">
            <p>Date: {{ data.event.date}}</p>
            <p>Time: {{ data.event.time }}</p>
          </div>
          <div class="col-12 col-md-6">
            <p>City: {{ data.event.address.city }}</p>
            <p>Duration: {{data.event.duration}} minutes</p>
          </div>
        </div>
      </div>
      <p>{{data.event.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button mat-dialog-close (click)="onNoClick()">Cancel</button>
      <button mat-raised-button [mat-dialog-close]="data.event" (click)="joinEvent(data.event)" cdkFocusInitial>Join event</button>
    </mat-card-actions>
  </mat-card>
</div>


