.form-popup
  position: fixed
  top: 20%
  right: 35%
  width: 25%
  background-color: #5F4F8D
  z-index: 9
.bgPic2-logo
  background-image: url(../../../../../assets/icons/Group_258.png)
  background-position: center
  background-repeat: no-repeat
  height: 18vh
.form-popup .bgPic2-logo
  height: 15vh
.form-container
  max-width: 100%
  padding: 3em
  background-color: white
  height: 100%
.form-container label
  color: black
  font-size: 2em
.color-black
  color: black
.login-footer
  margin-top: 2em
.btn-cancel
  background-color: #5F4F8D
  border: none
.goToRegistration
  color: blue
  text-decoration: underline
.goToRegistration:hover
  cursor: pointer
