<div class="background-violet">
  <!--<div class="menu" *ngIf="isAuth">-->
  <div class="menu">
    <i class="fas fa-bars" (click)="toogleMenuVisible()"></i>
  </div>
  <!--<div class="loginRegistrationWrapper" *ngIf="!isAuth">-->
  <div class="loginRegistrationWrapper">
    <a (click)="openLogin()"
       class="login">
      <i class="fas fa-lock"></i> Login
    </a>
    <a (click)="openRegistration()" class="create">
      <i class="fas fa-user-circle"></i> Create Account
    </a>
  </div>
</div>
<div class="container-fluid">

  <max-menu *ngIf="isMenuVisible" (closeMenu)="toogleMenuVisible()"></max-menu>
  <!--<max-welcome></max-welcome>-->
  <router-outlet></router-outlet>
</div>

<!-- Forms Login and Registration -->

<max-login *ngIf="isLoginVisible" (cancel)="closeLogin()" (registrationFromLogin)="registrationFromLogin()" (login)="auth()"></max-login>
<max-registration *ngIf="isRegistrationVisible" (cancel)="closeRegistration()" (loginFromRegistration)="loginFromRegistration()"></max-registration>

<!-- /Forms Login and Registration -->


















