.container-fluid
  // padding: 0
.background-violet
  background-color: #5F4F8D
  color: white
  padding: 15px 0
  height: 58px
  position: relative
.head
  font-size: 3.5em
.login, .create
  color: white
  margin: 0 10px
.login:hover, .create:hover
  cursor: pointer
  text-decoration: underline
.menu
  text-align: center
  cursor: pointer
  font-size: 1.5em
  padding: 0
  line-height: 0
  position: absolute
  left: 30px
  top: 17px
.loginRegistrationWrapper
  position: absolute
  right: 40px
  top: 17px




































