<div class="row welcome">
  <div class=" col-md-10 welcome__inner">
    <div class="welcome__overlay"></div>
    <div class="welcome__content">
    <div class="welcome__logo__wrapper"><img src="../../../assets/icons/Group_258.png" class="welcome__logo"></div>
    <h1 class="welcome__title">Shabbat in the family circle</h1>
    <div class="welcome__text">
      We're looking for family where you can spend your hugs or meet shabbat.
      Just sign in and start finding a new shabbat family
      <br>
      More than 100 families waiting for you!
    </div>
    <div class="welcome__button">
      <button class="btn btn-light">Go to Event list</button>
    </div>
  </div>
  </div>
</div>
