<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 offset-lg-2 col-11 offset-1">
      <img src="../../../assets/icons/Group_258.png" alt="">
      <div class="headerPersonal">
        <h3>Personal</h3>
        <p>information</p>
      </div>
      <form class="formPersonal">
        <div class="form-group">
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name*">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name*">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number*">
        </div>
        <div class="form-group">
          <select id="confession" class="form-control" name="confession">
            <option hidden [value]="" selected>Confession*</option>
            <option value="religious">Religious</option>
            <option value="irreligious">Irreligious</option>
          </select>
        </div>
        <div class="form-group">
          <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Date of Birth*">
        </div>
      </form>
    </div>
    <div class="col-lg-3 offset-lg-0 col-11 offset-1 about">
      <h1>Registration</h1>
      <div class="headerAbout">
        <h3>About</h3>
        <p>myself</p>
      </div>
      <div class="form-group">
        <select id="marritalStatus" class="form-control" name="marritalStatus">
          <option hidden [value]="" selected>Marrital Status*</option>
          <option value="single">Single</option>
          <option value="married">Married</option>
          <option value="divorced">Divorced</option>
          <option value="inACivilUnion">In a civil union</option>
          <option value="inARelationship">In a relationship</option>
          <option value="widowed">Widowed</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group-text">
          <input type="checkbox" class="form-check-inline" name="kosher" value="kosher">Kosher
          <input type="checkbox" class="form-check-inline" name="vegetarian" value="vegetarian">Vegetarian
          <input type="checkbox" class="form-check-inline" name="any" value="any">Any
        </div>
      </div>
      <div class="form-group">
        <select id="gender" class="form-control" name="gender">
          <option hidden [value]="" selected>Gender*</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group-text">
          <input type="checkbox" class="form-check-inline" name="hebrew" value="hebrew">Hebrew
          <input type="checkbox" class="form-check-inline" name="english" value="english">Engl
          <input type="checkbox" class="form-check-inline" name="french" value="french">French
          <input type="checkbox" class="form-check-inline" name="russian" value="russian">Russ
          <input type="checkbox" class="form-check-inline" name="spain" value="spain">Spain
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="aboutMyself" name="aboutMyself"
               placeholder="Write few words about yourself*">
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-danger btn-cancel">Cancel</button>
        <button type="button" class="btn btn-danger btn-cancel">Save</button>
      </div>
    </div>
    <div class="col-lg-3 offset-lg-0 col-11 offset-1 photos">
      <div class="avatar-wrapper">
        <input class="photo avatar" type="image" src="../../../assets/icons/no%20avatar%20(boy).png" width="150"
               alt="avatar">
      </div>
      <div class="banner-wrapper">
        <input class="photo banner" type="image" src="../../../assets/icons/banner.png" width="200" alt="banner">
      </div>
    </div>
  </div>
</div>

<mat-checkbox>Check me!</mat-checkbox>

<!--<input type="file" name="avatar">-->










































