@import '../../../assets/sass/vars'

h1, h3, p
  color: white
  text-align: center
h4
  color: white
  font-size: 1.2rem
.registration
  display: flex
  align-items: center
  justify-content: flex-start
.headerPersonal, .headerAbout
  text-align: center
.about
  padding-top: 7vh
.btn-cancel
  background-color: #5F4F8D
  border: none
.btn-cancel:first-child
  margin-right: 2vw
.buttons
  text-align: center
  margin-top: 5vh
.avatar-wrapper, .banner-wrapper
  text-align: center
.photos
  margin-top: 15vh
.avatar
  border-radius: 50%
.banner
  margin-top: 10vh
input, mat-select
  padding: 0.5rem
.example-container
  display: flex
  flex-direction: column
button:disabled
  visibility: hidden

.fill-profile__error
  position: fixed
  bottom: 0
  left: 35%
  padding: 15px 25px
  font-size: 1.3rem
  background-color: rgba(220, 20, 60, 0.5)
  text-align: center

mat-form-field
  //background-color: rgba(255, 255, 255, 0.6)











