@import '../../../assets/sass/vars'


.test
  position: absolute
  margin: 30px 100px
  //min-width: 1300px
  //min-height: 600px
  background-color: wheat

mat-radio-button
  display: block

button
  display: inline
  background-color: $indigo
  color: white
  font-weight: 600
  margin-right: 0.3rem
  text-transform: uppercase
  margin-bottom: 1rem

.dialog
  position: relative
  max-width: 80vw
  max-height: 80vh


  &__form
    padding-top: 2.5rem
    &__buttons, &__header
      text-align: center
    &__buttons
      margin-bottom: 2rem
  &__logo
    position: absolute
    top: 0
    width: calc(100% + 48px)
    //background-image: url(../../../assets/icons/Group_258.png)
    //background-repeat: no-repeat
    //background-size: contain
    background-color: $indigo
    padding-left: 1.5rem
    height: 7vh
    margin: -24px -24px 5px -39px
    img
      height: 100%

























