.test
  background-color: rgba(255,255,255,0.7)
  min-height: 100vh
.mat-card
  max-width: 300px
  margin: auto
.mat-card-avatar
  background-image: url('../../../assets/icons/no_avatar(boy).png')
  background-size: cover
.mat-card-actions
  display: flex
.mat-card-actions .flex-spacer
  width: 100%
