<div class="text-center" *ngIf="!isLoaded">Loading...</div>

<div class="container" *ngIf="isLoaded">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="myEvents__tab__label">In progress</span>
      </ng-template>
      <ng-template matTabContent>
        <div class="myEvents__inProgressPageTitle" *ngIf="eventsInProgress.length === 0">
          ​ You don’t have any even​ts. <a [routerLink]="['/main/add-event']">Add a new ​ event</a> ​ to invite other
          people
        </div>

        <max-my-event-in-progress *ngFor="let eventInProgress of eventsInProgress" [eventInProgress]="eventInProgress"
        (becomeToStatusPending)="becomeToStatusPending()"
        ></max-my-event-in-progress>


      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="myEvents__tab__label">Pending</span>
      </ng-template>

      <ng-template matTabContent>
        <div class="myEvents__pendingPageTitle" *ngIf="eventsPending.length === 0">
          ​ You don’t have any even​ts. <a [routerLink]="['/main/add-event']">Add a new ​ event</a> ​ to invite other
          people
        </div>

        <max-my-event-pending *ngFor="let eventPending of eventsPending" [eventPending]="eventPending"></max-my-event-pending>


      </ng-template>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="myEvents__tab__label">Done</span>
      </ng-template>

      <ng-template matTabContent>
        <div class="myEvents__pendingPageTitle" *ngIf="eventsPending.length === 0">
          ​ You don’t have any even​ts. <a [routerLink]="['/main/add-event']">Add a new ​ event</a> ​ to invite other
          people
        </div>

        <max-my-event-done *ngFor="let eventDone of eventsDone" [eventDone]="eventDone"></max-my-event-done>


      </ng-template>

    </mat-tab>
  </mat-tab-group>
</div>
